<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DispatchAfterC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>01085CE91D87756C00C5432B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01085CF91D8775C200C5432B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01085D071D8775C200C5432B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
